html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #131313 !important;
    overflow-x: hidden;
}


html::-webkit-scrollbar {
    width: 7px;
}
html::-webkit-scrollbar-thumb {
    background: #22c6e3;
    border-radius:50px;
}


body::-webkit-scrollbar {
    width: 7px;
}
body::-webkit-scrollbar-thumb {
    background: #22c6e3;
    border-radius:50px;
}



body {

    background-color: #131313 !important;
}
.toggle-btn-kather {
    position: fixed;
    margin: 1.4em;
    padding: 1em;
    width: 40px;
    height: 12px;
    right: 0;
    top: 2%;
    z-index: 99999999;
    mix-blend-mode: difference;
    

    
}

span.one-kather {
    position: fixed;
    width: 40px;
    height: 2px;
    background: #fff;
    mix-blend-mode: difference;
    right: 0;
    
}

span.two-kather {
    position: fixed;
    width: 26px;
    height: 2px;
    background: #fff;
    margin-top: 6px;
    mix-blend-mode: difference;
    right: 0;
    
}
span.three-kather{
    position: fixed;
    width: 15px;
    height: 2px;
    background: #fff;
    margin-top: 12px;
    mix-blend-mode: difference;
    right: 0;
   
}

.menu-kather {
    z-index: 999;
    position: fixed;
    background: #101010;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    
    


}

.data-kather {
    padding: 3em 0 0 2em;
    text-align: left;
}

ul {
    list-style: none;
}

li:first-child {
    color: #22c6e3;
    font-family: "Playfair Display";
    font-size: 24px;
    margin-bottom: 20px;
}

li:not(:first-child) {
    color: #fff;
    font-size: 42px;
    margin-bottom: 1em;
}

/* a {
    text-decoration: none;
    color: #fff;
    font-family: "Playfair Display";
    transition: 1s;
} */
.order-kather{
    font-size: .3333em;
    color: #fff;
    vertical-align: middle;
}
.item-menu{
    background:linear-gradient(#22c6e3, #22c6e3) left no-repeat, #fff;
    background-size: 0% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 1s;
}
.item-menu:hover{
    background-size: 100% 100%;

}

.kather-social-media{
    position: absolute;
    top: 85%;
    left: 4.5em;
    transform: translate(-50%, -50%);
}

.kather-social-media ul li {
    display: inline-block;
    text-decoration: none;
    margin-left: 10px;
    font-size: 18px;
}

a.fab.fa-facebook-square.kather-facebook{
    text-decoration: none;
   color:  #fff;
   box-shadow: 0 4px 40px 0 #22c6e3 inset, 0 4px 40px 0 #22c6e3;
   background-color: transparent;
}
a.fab.fa-instagram.kather-instagram{
    text-decoration: none;
    background-color: transparent;

    color:  #fff;
    box-shadow: 0 4px 40px 0 #22c6e3 inset, 0 4px 40px 0 #22c6e3;
}



/************************css para que el logo gire *****************************/
.circular-text{
    position: fixed;
    top: 4%;
    left: 5%;
    transform: translate(-50% -50%);
    color: rgba(255, 255, 255, 1);
    font-size: 6px;
    letter-spacing: 2px;
    font-family: "Playfair Display";
    transition: 0.5s ease-out;
    mix-blend-mode: difference;
    z-index: 99;
    
}
.arrow {
    position: fixed;
    top: 9.5%;
    left: 5%;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    z-index: 99;


}
.k {
    font-family: "Playfair Display";
    font-size: 40px;
    color: #fff;
    mix-blend-mode: difference;
    z-index: 99;

}
section {
     margin-top: 100vh;
     background-color: #fff;
     height: 100vh;
}
/*************************css para cursor******************************/
* {
   cursor: none;
}
.cursor {
   --size: 6px;
   height: var(--size);
   width:  var(--size);
   border-radius: 50%;
   position: absolute;
   z-index: 10000;
   transform: translate(-50%, -50%);
   pointer-events: none;
   mix-blend-mode: difference;
}
.cursor.cursor-shadow {
   background-color: transparent;
   border: 2px solid #fff;
   --size: 30px;
   transition: top .2s, left .2s,
             width .2s, height .2s,
             background-color .2s, border-color 0.2s;
   transition-timing-function: ease-out;
}
.cursor.cursor-dot {
   background: #fff;
    transition: width .2s, height .2s;
    mix-blend-mode: difference;
}
.cursor-shadow.active {
   --size: 80px;
   border-color: rgba(255,255,255, 0);
   background-color: rgba(255,255,255,.1);
}
.cursor-dot.active {
   --size: 0;
}
a {
   cursor: pointer;
}
a:hover {
    text-decoration: none;
    
}
/********************************Codigo Para Banner*****************************************/
section {
    margin: 0;
    height: auto;
    background-color: #131313;
}
section.banner-kather-agency{
    margin-top:5em;
}
.text-kather-agency{
    margin-top:5em;
    position: absolute;
    top: 5em;
    left: 0;
    margin-left: 5em;
    width: 50%;
}
.title-kather{
    text-align: left;
    font-family: "Playfair Display";
    font-size: 2.5em;
    color: #d9d9d9;

}
.description-kather{
    text-align: left;
    color:#808080;
    font-size: 16px;
    font-family: "lato";
}
.separator-gradiant{
    width: 180px;
    height: 5px;
    margin-top: -40px;
    margin-bottom: 30px;
    background: linear-gradient(to right, #22c6e3,#126878);
    

}
.separator-gradiant::before{
    position: absolute;
    content: '';
    background:linear-gradient(to right, #22c6e3,#126878);
    width: 180px;
    height: 5px;
    filter: blur(10px);
}
.image-kather-agency{
    position: relative;
    float: right;
    width: 50%;
    margin-top: 0em;
    
    
}
.btn-banner{
    margin-top: 6em;
   position: absolute;
   padding-top: 10px;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    text-decoration: none;
    color: #fff;
    font-family: "Lato";
    font-size: 13px ;
    font-weight: bold;
    width: 130px;
    height: 25px;
    background: linear-gradient(to right, #22c6e3,#126878);
    z-index: 1;
    
}
.btn-banner:hover{
    color: #fff;
}
.btn-banner::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background:linear-gradient(to right, #22c6e3,#126878);
    width: 100%;
    height: 100%;
    filter: blur(10px);
      z-index: -1;  
}



/********************************Codigo Para seccion 2*****************************************/
section {
    margin: 0;
    height: auto;
    background-color: #131313;
}
section.kather-agency-section2{
    margin-top:100vh;
    height: 100vh;
}
.image-section2{
    position: relative;
    float: left;
    width: 50%;
    margin-top: 5em;
    margin-left: 40px;
    
    
}
.text-kather-agency-section2{
    margin-top:10em;
    position: absolute;
    right: 0;
    margin-right: 5em; 
    width: 50%;

}
.title-kather-section2{
    text-align: right;
    font-family: "Playfair Display";
    font-size: 2.5em;
    color: #d9d9d9;

}
.description-kather-section2{
    text-align: right;
    color:#808080;
    font-size: 16px;
    font-family: "lato";
}
.separator-gradiant-section2{
    margin-left: auto;
    width: 130px;
    height: 5px;
    margin-top: -40px;
    margin-bottom: 30px;
    background: linear-gradient(to right, #22c6e3,#126878);
    
    

}
.separator-gradiant-section2::before{
    position: absolute;
    content: '';
    background:linear-gradient(to right, #22c6e3,#126878);
    width: 130px;
    height: 5px;
    filter: blur(10px);
}


/********************************Codigo Para seccion 3*****************************************/

.element3d{
    height: 100%;
    background-color: #131313;
     align-items: center; 
    vertical-align: middle; 
    justify-content: center;
    
  }
  model-viewer {
      height: 60vh;
      width: 50%;
      margin-top: 0;
      border: 0;
      background-color: #131313;
      border: none;
      overflow-y: hidden;
      float: right;
      padding-top: 6em; 
      
    }
    #container-3d {
      height: 100vh;
      width: 50%;
      margin: 0;
      border: 0;
      background-color: #131313;
      border: none;
      overflow-y: hidden;
      float: right;
    }




section.kather-agency-section3{
    height: 100vh;
}
.text-kather-agency-section3{
    margin-top:10em;
    position: absolute;
    left: 0;
    margin-left: 5em; 
    width: 50%;
}
.title-kather-section3{
    text-align: left;
    font-family: "Playfair Display";
    font-size: 2.5em;
    color: #d9d9d9;

}
.description-kather-section3{
    text-align: left;
    color:#808080;
    font-size: 16px;
    font-family: "lato";
}
.separator-gradiant-section3{
    width: 100px;
    height: 5px;
    margin-top: -40px;
    margin-bottom: 30px;
    background: linear-gradient(to right, #22c6e3,#126878);
}
.separator-gradiant-section3::before{
    position: absolute;
    content: '';
    background:linear-gradient(to right, #22c6e3,#126878);
    width: 100px;
    height: 5px;
    filter: blur(10px);
}
/********************************Codigo Para seccion 4*****************************************/
section {
    margin: 0;
    height: auto;
    background-color: #131313;
}
section.kather-agency-section4{
    height: 100vh;
}

.image-section4{
    position: relative;
    float: left;
    width: 50%;
    margin-top: 5em;
    margin-left: 40px;
    
    
}
.text-kather-agency-section4{
    margin-top:10em;
    position: absolute;
    right: 0;
    margin-right: 5em; 
    width: 50%;

}
.title-kather-section4{
    text-align: right;
    font-family: "Playfair Display";
    font-size: 2.5em;
    color: #d9d9d9;

}
.description-kather-section4{
    text-align: right;
    color:#808080;
    font-size: 16px;
    font-family: "lato";
}
.separator-gradiant-section4{
    margin-left: auto;
    width: 130px;
    height: 5px;
    margin-top: -40px;
    margin-bottom: 30px;
    background: linear-gradient(to right, #22c6e3,#126878);
    
    

}
.separator-gradiant-section4::before{
    position: absolute;
    content: '';
    background:linear-gradient(to right, #22c6e3,#126878);
    width: 130px;
    height: 5px;
    filter: blur(10px);
    
}
/********************************Codigo Para seccion 5*****************************************/
section.kather-agency-section5{
    width: 100%;
   /*  height: 100vh; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*  height: 140vh; */
     /* background-image:linear-gradient(to bottom, #e2e2e2 85%, transparent 96%); */
     margin-bottom: 100vh;
     background: #e2e2e2;
 }
 #main-instagram{
    width: 100%;
    height: 120vh; 
    /* text-align: center; */
    display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  

 /*    display: block;
    position: absolute;  */ 
}
.image-frist-instagram{
    /* left: 50%;*/
    /* top: 50vh;  */
    width: 400px;
    height: 400px;
    top: 0;
    bottom: auto;
     background-color: #0c0c0c; 
/*     background: url('https://rino-pelle.com/wp-content/uploads/2020/08/rino-pelle-instagram-autumn-winter-2020-01-1920x1920.webp');
 */    background-size: cover;
    /* display: inline-block;   */
    transform: scale(3.83336);
    transform-origin: 51% 50%;
  /*   filter: drop-shadow(rgba(7, 7, 7, 0.75) 0.40em 0.40em 0.5em); */
    z-index: 999;
    
}
.gallery1-instagram{
    width: 100%;
    min-height: 100vh;
    position: absolute;
     transform: scale(3.33336);
    transform-origin: 44.9% 50%; 
}
.image1-instagram{
    width: 130px;
    height: 130px;
    top: -7%;
    left: 38%;
    position: absolute;
     background-color: #0C0C0C; 
/*     background: url('https://rino-pelle.com/wp-content/uploads/2020/08/rino-pelle-instagram-autumn-winter-2020-01-1920x1920.webp');
 */    background-size: cover;
}
.image2-instagram{
    width: 260px;
    height: 260px;
    top: 40.8%;
    right: 13.5%;
    position: absolute; 
     background-color: #0C0C0C; 
/*     background: url('https://rino-pelle.com/wp-content/uploads/2020/08/rino-pelle-instagram-autumn-winter-2020-01-1920x1920.webp');
 */    background-size: cover;
}
.image3-instagram{
    width: 60px;
    height: 60px;
    top: 87%;
    right: 35.3%;
    position: absolute; 
     background-color:#0C0C0C; 
/*     background: url('https://rino-pelle.com/wp-content/uploads/2020/08/rino-pelle-instagram-autumn-winter-2020-01-1920x1920.webp');
 */    background-size: cover;
}
.image4-instagram{
    width: 65px;
    height: 65px;
    top: 71.5%;
    left: 27.7%;
    position: absolute; 
 background-color:#0C0C0C;
/*     background: url('https://rino-pelle.com/wp-content/uploads/2020/08/rino-pelle-instagram-autumn-winter-2020-01-1920x1920.webp');
 */    background-size: cover;
}
.gallery2-instagram{
    width: 100%;
    min-height: 100vh;
    position: absolute;
    /* transform: scale(3.33336);
    transform-origin: 44.9% 50%; */
    transform: scale(3.33336);
    transform-origin: 50% 50%;
}
.image5-instagram{
    width: 200px;
    height: 200px;
    top: -18%;
    right: 35.4%;
    position: absolute;
    background-color: #0C0C0C; 
/* background: url('https://rino-pelle.com/wp-content/uploads/2020/08/rino-pelle-instagram-autumn-winter-2020-01-1920x1920.webp');
 */    background-size: cover;
}
.image6-instagram{
    width: 70px;
    height: 70px;
    top: 24%;
    right: 27.5%;
    position: absolute; 
    background-color: #0C0C0C; 
/*  background: url('https://rino-pelle.com/wp-content/uploads/2020/08/rino-pelle-instagram-autumn-winter-2020-01-1920x1920.webp');
 */    background-size: cover;
}
.image7-instagram{
    width: 130px;
    height: 130px;
    top: 87%;
    right: 24%;
    position: absolute; 
     background-color:#0C0C0C; 
/*     background: url('https://rino-pelle.com/wp-content/uploads/2020/08/rino-pelle-instagram-autumn-winter-2020-01-1920x1920.webp');
 */    background-size: cover;
}
.image8-instagram{
    width: 210px;
    height: 210px;
    top: 34%;
    left: 17%;
    position: absolute; 
    background-color:#0C0C0C; 
/*     background: url('https://rino-pelle.com/wp-content/uploads/2020/08/rino-pelle-instagram-autumn-winter-2020-01-1920x1920.webp');
 */    background-size: cover;
}








.txt-instagram{
  width: 100%;
    height: 100vh; 
    /* background: gray; */
    box-sizing: border-box;
    padding-left: 20%;
    position: absolute;
   /*  margin-bottom: 100vh; */
   background-image:linear-gradient(to bottom, #e2e2e2 85%, transparent 96%);
}
.title-instagram{
    font-size: 10px;
    font-family: "lato";
    letter-spacing: 4px;
    text-align: left;
    color: black;
    margin-bottom: 70px;
    display: block;
    margin-top: -20px;
}
.cuerpo-instagram{
    font-size: 57px;
    font-family: "Playfair Display";
    color: black;
    text-align: left;
    margin-bottom: 70px;
    margin-top: -20px;
}
.leyenda-instagram{
    margin-left: 50px;
    font-size: 12px;
    color: black;
    text-align: left;
    margin-top: -20px;
    font-family: "Lato"; 
}



.btn-instagram{
    margin-top: 70px;
    margin-left: 50px;
   position: absolute;
   padding-top: 15px;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    text-decoration: none;
    color: #fff;
    font-family: "Lato"; 
    font-size: 20px ;
    font-weight: bold;
    width: 180px;
    height: 40px;
  /*   background: linear-gradient(to right, #22c6e3,#126878); */
  background:#126878;
    z-index: 1;
    
}
.btn-instagram:hover{
    color: #fff;
}
.btn-instagram::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background:linear-gradient(to right, #126878,#126878);
    width: 100%;
    height: 100%;
    filter: blur(10px);
      z-index: -1;  
}


 /********************************Codigo Para seccion 6*****************************************/
section.kather-agency-section6{
    
    width: 100%;
      height: 100vh;
      /* background-image: url(background.jpg) ;
     background-repeat: no-repeat;
     background-size: 100% 60%;   */
     overflow: hidden;
     display: flex;
 }
 .video-background{
    background-color: #131313;
    opacity: 0.2;
}
.banner-video .video-background video{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
/********************************Codigo Para formulario de contacto*****************************************/
.section-form-desktop{
    width: 65%;
    margin-right: 5%;
     z-index: 10; 
}
.container-form-kather{
    width: 100%;
    padding: 20px;
}
.title-form{
    font-size: 25px;
    color: #e2e2e2;
    padding-left: 15px;
    margin: 5px, 5px;
    font-family: "Playfair Display";
}
.subtitle-form{
    font-size: 14px;
    color: #e2e2e2;
    padding-left: 15px;
    margin-top: -35px;
    font-family: "lato";
}
.container-form-kather .row100{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.container-form-kather .row100 .col{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 10px;
    transition: 0.5s;
    margin-bottom: 80px;
} 
.container-form-kather .row100 .inputBox{
    position: relative;
    width: 70%;
    height: 30px;
    color: #e2e2e2;
    font-family: "lato";
}
.container-form-kather .row100 .inputBox input{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 0 10px;
    z-index: 1;
    color: #e2e2e2;
    font-family: "lato";
}
.container-form-kather .row100 .inputBox .text{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 30px;
    font-size: 13px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}
.container-form-kather .row100 .inputBox input:focus + .text,
.container-form-kather .row100 .inputBox input:valid + .text{
    top: -25px;
    left: -10px;
}
.container-form-kather .row100 .inputBox .line{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 3px;
    background:linear-gradient(to right, #22c6e3,#126878);
    transition: 0.5s;
    border-radius: 0px;
    pointer-events: none;
    
}
.container-form-kather .row100 .inputBox .line::before{
    position: absolute;
    content: '';
    background:linear-gradient(to right, #22c6e3,#126878);
    width: 100%;
    height: 5px;
    filter: blur(10px);
}
.form-btn{
justify-content: center;
align-items: center;
margin-left: 100%;
}
input[type="submit"]{

    /* margin-top: 6em; */
   position: absolute;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    text-decoration: none;
    outline: none;
    border: none;
    color: #fff;
    font-family: "Lato";
    font-size: 13px ;
    font-weight: bold;
    width: 130px;
    height: 35px;
    background: linear-gradient(to right, #22c6e3,#126878);
    z-index: 1;
}
input[type="submit"]::before{

    position: absolute;
    content: '';
    background:linear-gradient(to right, #22c6e3,#126878);
    width: 130px;
    height: 35px;
    filter: blur(10px);
    z-index: -1;
} 
/******************************** fin Codigo Para formulario de contacto*****************************************/



.info-contact{
    
    width: 35%;
    padding-right: 40px;
     z-index: 10; 
    
}
.container-info{
    padding-top: 120px;
    margin: 0;
    position: relative;
    display: flex;
    padding-left: 5.5em;

}
.parrafo-contact{
    color: #e2e2e2;
    font-size: 18px;
    letter-spacing: 5px;
    margin-bottom: 35px;
    text-align: right;
    font-family: "lato";
}
.resaltado{
    color: #22c6e3;
    font-size: 18px;
    letter-spacing: 5px;
    margin-bottom: 20px;
    font-family: "lato";
}
.direccion-contact{
    text-align: right;
    font-size: 22px;
    color: #e2e2e2;
    letter-spacing: 5px;
    margin-bottom: 35px;
    line-height: auto;
    font-family: "lato";
}

.email-phone-contact{
    text-align: right;
    font-size: 15px;
    color: #22c6e3;
    letter-spacing: 3px;
    font-family: "Playfair Display";
}
  
